$margin-color: #ff5555;
$margin-gap: 15mm;
$content-gap: 20mm;
$gap-vertical: 3mm;
$interline-main-color: #5fbcff;
$interline-second-color: #c9c9c9;
$interline-gap-horizontal: 15mm;
$interline-height: 0.5mm;
$font-size: 12mm;

body {
    background-color: rgba(0, 0, 0, 0.1);
}

@page {
    size: A4;
    margin: 0;
}
@media print {
    html,
    body {
        width: 210mm;
        height: 297mm;
    }
    #pageA4 {
        page-break-after: always;
    }
}

#pageA4 {
    background: white;
    width: 21cm;
    height: 29.7cm;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    position: relative;
    overflow: hidden;
}

#line {
    position: relative;
    width: 100%;
    hr.first {
        border-style: none;
        height: $gap-vertical;
        margin: 0;
        padding: 0;
        margin-top: 0;
        border-bottom: $interline-height solid $interline-main-color;
    }
    hr.inter {
        border-style: none;
        height: $gap-vertical;
        max-height: $gap-vertical;
        margin: 0;
        padding: 0;
        margin-top: 0;
        border-bottom: $interline-height solid $interline-second-color;
    }
}

#content {
    font-family: "Cursive Dumont maternelle", cursive;
    font-size: $font-size;
    position: relative;
    z-index: 1000;
    left: $content-gap;

    span {
        display: inline-block;
        position: absolute;
        left: 0;
        bottom: 0;
        line-height: 0;
    }

    span::before {
        display: inline-block;
        height: 100%;
        vertical-align: baseline;
        content: "";
    }
}

.margin {
    border-left: 1mm solid $margin-color;
    height: 29.7cm;
    position: absolute;
    left: $margin-gap;
    right: 0;
    top: 0;
    overflow: hidden;
}
.vl {
    border-left: $interline-height solid $interline-second-color;
    height: 29.7cm;
    position: relative;
    left: $interline-gap-horizontal;
    width: $interline-gap-horizontal;
    float: left;
}
